<!-- views/partials/header.ejs -->

<div class="sticky" id="myHeader">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="/">My Shop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link" href="/mens">Mens</a></li>
          <li class="nav-item"><a class="nav-link" href="/womens">Womens</a></li>
        </ul>
         
        
        
      </div>
    </nav>
  </div>
 <div style="float:left">
  <div class="container">



    <div id="icon"><i class="fa fa-user"> </i> </div>
    
    <input type="checkbox" name="" id="btn">
  
  <span></span>
    <form action="">
      <input type="text" placeholder="Username">
    
      <input type="text" placeholder="Email">
       
      <input type="password" placeholder="Password"></br>
      
      <input type="submit" value="Submit">
    </form>
    
    
    
    </div>
</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>